body,
html {
  height: 100%;
  width: 100%;
  font-family: Raleway, sans-serif;
  overflow-x: hidden;
}

.logo {
  cursor: pointer;
  width: 40%;
}

/* Hero Image */
.hero-image {
  background-image: url("./imgs/image\ 1.png");
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */

.hero-text {
  text-align: center;
  position: relative;
  top: 60%;
  left: 50%;
  font-size: larger;
  transform: translate(-50%, -50%);
  color: white;
  margin-top: 100px;
}

/* countdown */

.countdown-circles {
  text-transform: uppercase;
  font-weight: bold;
}

.countdown-circles div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.countdown-circles span:first-of-type {
  margin-left: 0;
}

.bg-gradient-1 {
  background: #7f7fd5;
  background: -webkit-linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
}

.rounded {
  border-radius: 1rem !important;
}

.lead {
  font-size: 18px;
}
/* Two */

/* Three */
.phones-section {
  display: flex;
  min-height: 782px;
  align-content: center;
  padding: 30px 0;
  margin: 0 -20px;
  background-color: #450047;
}
/* .purple {
  background-color: #450047;
} */

.iphone {
  width: 100%;
  height: 75%;
}

.grow {
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .grow:hover {
    transform: scale(1.2);
  }
}

/* footer */
.footer-image {
  background-image: url("./imgs/rectangle.jpeg");
  min-height: 714px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 600px) {
  .hero-text h1 {
    font-size: 30px;
  }
  .hero-image {
    height: 80vh;
  }

  .countdown-circles div {
    width: 80px;
    height: 80px;
  }

  .phones-section {
    margin: 0 -20px;
  }
}
